# ignore all files and directories
*

# except these file extensions
!.gitignore
!*.sv
!*.v
!*.vh
!*.c
!*.cc
!*.cpp
!*.h
!*.ld
!*.xdc

# un-ignore directories
!*/
# but still ignore these
arty_sv_sampler.cache
arty_sv_sampler.hw
arty_sv_sampler.runs
arty_sv_sampler.hls
arty_sv_sampler.ip_user_files
arty_sv_sampler.ipdefs
VC707_Board_Support_Package
VC707_Test_Platform
xadc_arty_a7
asdr
dffs
debounce
i2c
led_mux
pwm

chu_gpo.v
chu_gpi.v

Packages
synth
imp
behav
.metadata
ip
.Xil/
.Xil/*.xdc